body {
    font-family: Sans-serif;
}

textarea {
    resize: none;
}

.smaller-font {
    font-size: 85%;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.section-margin {
    margin-bottom: 30px;
}

#answer-box {
    /*bottom: 0;*/
    bottom: -347px;
    right: 5px;
    position: fixed;
    /*background-color: #f9f9f9;*/
    background-color: grey;
    /*overflow: auto;*/
    padding: 5px;
    float: right;
}

#editing-header {
    margin-bottom: 20px;
    margin-top: 4px;
}
