body {
    font-family: Sans-serif;
}

textarea {
    resize: none;
}

.smaller-font {
    font-size: 85%;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.section-margin {
    margin-bottom: 30px;
}
