{% extends "base.html" %}
{% block title %}
    {{ question.title }}
{% endblock %}
{% block body %}
    <a href="/">&laquo; To startpage</a>
    <h1>Question: {{ question.title }}</h1>
    <p>{{ question.content }}</p>
    <p>By: <strong>{{ question.user_name }}</strong>, {{ question.user_email }}</p>

    {% if answers %}
        <h2>Answers</h2>
        {% for answer in answers %}
            <p>{{ answer.content }}</p>
            <p style="margin-bottom: 30px;">
                By: <strong>{{ answer.user_name }}</strong>, {{ answer.user_email }}
                <a href="/{{ question.id }}/{{ answer.id }}">Edit answer</a>
            </p>
        {% endfor %}
    {% endif %}

    <h2>Add answer</h2>
    <form id="answer_form" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{ field.label_tag }}
            <br>
            {{ field }}
            {{ field.errors }}
        </div>
        <br>
        {% endfor %}

        {% if editing_mode %}
            <input type="submit" value="Edit answer">
            <from method="link" action="/{{ question.id }}">
                <input type="submit" value="Start new answer">
            </from>
        {% else %}
            <input type="submit" value="Submit">
        {% endif %}
    </form>

    {% if spam %}
        <script>alert("We believe this is spam!");</script>
    {% endif %}

{% endblock %}

