{% extends "base.html" %}
{% block title %}
    {{ question.title }}
{% endblock %}
{% block body %}
    <a href="/">&laquo; To startpage</a>
    <h1 class="no-bottom-margin">Question: {{ question.title }}</h1>
    <p>{{ question.content }}</p>
    <p class="smaller-font">
        By: <strong>{{ question.user_name }}</strong>, {{ question.user_email }}
    </p>

    {% if answers %}
        <h2 class="no-bottom-margin">Answers</h2>
        {% for answer in answers %}
            <p>{{ answer.content }}</p>
            <p style="margin-bottom: 30px;" class="smaller-font">
                By: <strong>{{ answer.user_name }}</strong>, {{ answer.user_email }}
                <a href="/{{ question.id }}/{{ answer.id }}">Edit answer</a>
            </p>
        {% endfor %}
    {% endif %}

    {% if editing_mode %}
        <h2>Edit answer</h2>
    {% else %}
        <h2>Add new answer</h2>
    {% endif %}
        <form id="answer_form" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{ field.label_tag }}
            <br>
            {{ field }}
            {{ field.errors }}
        </div>
        <br>
        {% endfor %}

        <input type="submit" value="Submit">
        {% if editing_mode %}
            <from method="link" action="/{{ question.id }}">
                <input type="submit" value="Cancel">
            </from>
        {% endif %}
    </form>

    {% if spam %}
        <script>alert("We believe this is spam!");</script>
    {% endif %}

{% endblock %}

