{% extends "base.html" %}
{% block title %}
    {{ question.title }}
{% endblock %}
{% block body %}
    <a href="/">&laquo; To startpage</a>
    <h1 class="no-bottom-margin">{{ question.title }}</h1>
    <p>{{ question.content }}</p>
    <p class="smaller-font section-margin">
        By: <strong>{{ question.user_name }}</strong>, {{ question.user_email }}
    </p>

    <div id=answers-div>
        <script>
            this.get_answers({{ question.id }});
        </script>
    </div>

    {% if editing_mode %}
        <h2>Edit answer</h2>
    {% else %}
        <h2>Add new answer</h2>
    {% endif %}
    <form id="answer_form" method="post">
        {% csrf_token %}
        <input type="hidden" name="question_id" value={{ question.id }}>
        <div>
            <label for="content">Content:</label>
            <br>
            <textarea id="content" name="content" cols="40" rows="10" required>Hej</textarea>
        </div><br>
        <div>
            <label for="user_name">User name:</label>
            <br>
            <input id="user_name" name="user_name" maxlength="255" type="text" value=hej required>
        </div><br>
        <div>
            <label for="user_email">User email:</label>
            <br>
            <input id="user_email" name="user_email" maxlength="255" type="email" value=hej@nej.com required>
        </div><br>

        <input type="submit" value="Submit">
        {% if editing_mode %}
            <input type="button" onclick="location.href='/{{ question.id }}';" value="Cancel">
        {% endif %}
    </form>

    {% if spam %}
        <script>alert("We believe this is spam!");</script>
    {% endif %}

{% endblock %}
